Select loops and save in Pickle file

In [19]:
import pandas as pd
from pathlib import Path
import pickle

In [20]:
file_path = Path.cwd().parents[0] / '1/control_loop.pickle'

data = pickle.load(open(file_path, 'rb'))

data.keys()

dict_keys(['LIC44', 'FIC41', 'FIC37', 'FIC32', 'FIC19', 'FIC14'])

In [21]:
save = None
for loop in data.keys():
    for var in data[loop].keys():
        df = data[loop][var]
        df['Loop'] = loop
        df['Variable'] = var
        
        if save is None:
            save = df
            
        else:
            save = pd.concat((save, df))

In [22]:
save.to_csv('control_loop.csv')

In [23]:
save

                           Values  Quality   Loop Variable
Time
2017-10-06 12:00:00.964 -0.150941        2  LIC44       MV
2017-10-06 12:00:03.023 -0.141925        2  LIC44       MV
2017-10-06 12:00:05.083 -0.137769        2  LIC44       MV
2017-10-06 12:00:07.142 -0.133240        2  LIC44       MV
2017-10-06 12:00:09.201 -0.164665        2  LIC44       MV
...                           ...      ...    ...      ...
2017-10-08 23:59:51.897  0.138086        2  FIC14       SP
2017-10-08 23:59:53.956  0.138640        2  FIC14       SP
2017-10-08 23:59:56.016  0.139064        2  FIC14       SP
2017-10-08 23:59:58.075  0.138427        2  FIC14       SP
2017-10-08 23:59:59.105  0.138898        2  FIC14       SP

[1724655 rows x 4 columns]